body {
  font-family: 'Lato';
  background: #efefef;
}

.fa-btn {
    margin-right: 6px;
}

.navbar {
  margin-bottom: 0px;
}

.banner {
  position: relative;
  height: 350px;
  padding-left: 0px;
}

.banner-title h2 {
  color: #FFF;
  font-weight: bold;
  font-size: 60px;
}

.banner-overlay {
  height: 100%;
  position: absolute;
  width: 100%;
  background: #444;
  opacity: 0.4;
}

.banner-image {
  position: absolute;
  top: 0;
  height: 350px;
  width: 100%;
}

.banner-small {
  height: 250px;
}

.banner-small .banner-image {
  height: 100%;
}

.hero-image {
  width: 100%;
  height: 100%;
}

.white-background {
  background-color: #fff;
}

.reservation-form {
  /*padding-top: 20px;*/
}

.details .desc {
  font-size: 18px;
  padding: 20px;
}

.details .desc div {
  padding: 20px 40px;
  border-bottom: 1px solid #eee;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.1s ease;
  margin-top: 20px;
  position: relative;
  margin: 10px auto;
  display: inline-block;
  vertical-align: top;
  height: 250px;
  width: 100%;
  background: #fff;
}

.card a.image-link {
  height: 150px;
  width: 100%;
  display: block;
  border-radius: 5px 5px 0px 0px;
  background-position: center;
}

.card .card-details {
  padding: 10px;
  font-size: 18px;
  padding-left: 25px;
}

.card .btn {
  width: 100%;
}

.btn-home {
  padding: 10px !important;
  background: teal;
  color: #fff !important;
}

.btn-home:hover {
  background: teal !important;
  color: #fff !important;
  opacity: 0.8;
}

.main-search {
  padding: 15px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

.main-search-btn {
  padding: 15px;
  width: 200px;
  font-size: 18px;
}

/* Filters */
.mobile-filters {
  position: fixed;
  z-index: 1900;
  top: 0;
  height: 100%;
}

.show-filter-button {
  position: fixed;
  z-index: 2000;
  bottom: 25px;
  right: 25px;
  display: none;
}

p.navbar-text {
  margin-top: 7px;
}

/* Filters */
.home-filters ul {
  list-style-type: none;
}

.home-filters .filter-wrap {
  width: 150px;
  float: left;
  text-align: center;
}

.home-filters .filter-item {
  background-color: #edefed;
  border: 1px solid #dce0e0;
  padding: 5px;
  margin: 5px 5px;
}

/* Login/Logout */
.main-form-panel {
  margin-top: 20px;
}

/* Buttons */
.filter-item {
    margin:4px;
    background-color:#080808;
    border-radius:4px;
    border:1px solid #080808;
    overflow:auto;
    float:left;
    padding: 5px;
}

.filter-item:hover, .filter-item label:hover {
  background: #00BC8C;
  border:1px solid #00BC8C;
  color: #fff;
  cursor: pointer;
}

.filter-item label {
    float:left;
    width:4.0em;
}

.filter-item label span {
    text-align:center;
    padding:3px 0px;
    display:block;
}

.filter-item label input {
    position:absolute;
    top:-20px;
    visibility: hidden;
}

.filter-item input:checked + span {
    background-color:#00BC8C;
    color:#fff;
}
