<div class="form-group row text-center">
    <div class="col-xs-6 col-xs-offset-3">
        <h3>Location</h3>
        <label>Where is your desired location?
Location, location, location. Search by street, neighborhood, or city - be as broad or specific as you'd like.</label>
        <input type="text" class="form-control searchPlacesTextField" ng-model="formData.location" value="">
    </div>
</div>

<div class="form-group row">
  <div class="col-xs-6 col-xs-offset-3">
      <a ui-sref="form.event-length" class="btn btn-block btn-info">
      Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
  </div>
</div>
